1. In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.

Answer: *, -, /, + all are expression and rest are values.

In [1]:
type('hello')

str

In [2]:
type(-87.8)

float

In [3]:
type(6)

int

2. What is the difference between string and variable?
Answer: A string is a sequence of characters. A variable is a symbolic name that is a reference or pointer to an object.

3. Describe three different data types.
 
 Answer 
 
 Data Types	                   Examples	                               Explanation	
  Strings	               "Hello!", "23.34"	               Text - anything between" "  
  Integers	                     5364                                	Whole numbers	
   Floats	                    3.1415	                               Decimal Numbers


4. What is an expression made up of? What do all expressions do?
Answer An expression is a combination of operators, constants and variables. An expression is evaluated as per the precedence of its operators

5. This assignment statements, like spam = 10. What is the difference between an
expression and a statement?
Answer A statement in Python is not evaluated for some results. An expression in Python is evaluated for some results.

6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

In [4]:
bacon = 22

In [5]:
bacon + 1

23

7. What should the values of the following two terms be?
'spam'+'spamspam'
'spam'*3

In [6]:
'spam'+'spamspam'

'spamspamspam'

In [7]:
'spam'*3

'spamspamspam'

8. Why is eggs a valid variable name while 100 is invalid?
Answer : Because variable names cannot begin with a number.

9. What three functions can be used to get the integer, floating-point number, or string
version of a value? 
Answer The int() , float() , and str( ) functions will evaluate to the integer, floating-point number, and string versions of the value passed to them.

10. Why does this expression cause an error? How can you fix it?
' I have eaten'+99+'burrtios'

In [8]:
' I have eaten'+99+'burrtios'

TypeError: can only concatenate str (not "int") to str

In [9]:
' I have eaten'+'99'+'burrtios'

' I have eaten99burrtios'

All should be in same formate.